:root {
    --colorA-100: hsl(11, 69%, 90%);
    --colorA-200: hsl(11, 69%, 75%);
    --colorA-300: hsl(11, 69%, 65%);
    --colorA-400: hsl(11, 69%, 57%);
    --colorA-500: hsl(11, 69%, 50%);
    --colorA-600: hsl(11, 69%, 42%);
    --colorA-700: hsl(11, 69%, 35%);
    --colorA-800: hsl(11, 69%, 27%);
    --colorA-900: hsl(11, 69%, 20%);

    --colorB-100: hsl(19, 84%, 90%);
    --colorB-200: hsl(19, 84%, 78%);
    --colorB-300: hsl(19, 84%, 70%);
    --colorB-400: hsl(19, 84%, 65%);
    --colorB-500: hsl(19, 84%, 60%);
    --colorB-600: hsl(19, 84%, 52%);
    --colorB-700: hsl(19, 84%, 45%);
    --colorB-800: hsl(19, 84%, 35%);
    --colorB-900: hsl(19, 84%, 25%);

    --colorC-100: hsl(246, 73%, 96%);
    --colorC-200: hsl(246, 73%, 90%);
    --colorC-300: hsl(246, 73%, 85%);
    --colorC-400: hsl(246, 73%, 83%);
    --colorC-500: hsl(246, 73%, 81%);
    --colorC-600: hsl(246, 73%, 75%);
    --colorC-700: hsl(246, 73%, 66%);
    --colorC-800: hsl(246, 73%, 55%);
    --colorC-900: hsl(246, 73%, 45%);

    --colorD-100: hsl(199, 70%, 95%);
    --colorD-200: hsl(199, 70%, 88%);
    --colorD-300: hsl(199, 70%, 85%);
    --colorD-400: hsl(199, 70%, 83%);
    --colorD-500: hsl(199, 70%, 82%);
    --colorD-600: hsl(199, 70%, 76%);
    --colorD-700: hsl(199, 70%, 67%);
    --colorD-800: hsl(199, 70%, 58%);
    --colorD-900: hsl(199, 70%, 45%);

    --colorE-100: hsl(0, 0%, 95%);
    --colorE-200: hsl(0, 0%, 75%);
    --colorE-300: hsl(0, 0%, 60%);
    --colorE-400: hsl(0, 0%, 45%);
    --colorE-500: hsl(0, 0%, 34%);
    --colorE-600: hsl(0, 0%, 27%);
    --colorE-700: hsl(0, 0%, 20%);
    --colorE-800: hsl(0, 0%, 12%);
    --colorE-900: hsl(0, 0%, 5%);

    --maxw: 800px;
}