<div class="footer">
    <div class="width-m footer-columns">
        <div class="foo-column-i">
            <img class="logo-corp" src="/static/brand/logo-chambeaya.svg" alt="logo">
            <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="mailto:contact@example.com"><i class="fas fa-envelope"></i></a>
            </div>
        </div>
        <div class="foo-column-i">
            <h4>Sobre nosotros</h4>
            <ul>
                <p><a href="/static/templates/HistoriaChambeaYa.html">Historia de ChambeaYa</a></p>
                <p><a href="/static/templates/Conoce_Creadores.html">Conoce a los creadores</a></p>
                <p><a href="/static/templates/Impacto_Social.html">Impacto social</a></p>
            </ul>
        </div>
        <div class="foo-column-i">
            <h4>Contacto</h4>
            <ul>
                <p><a href="/static/templates/Formulario_Consultas.html">Formulario de consultas</a></p>
                <p><a href="#">Información de contacto</a></p>
                <p><a href="#">Redes sociales</a></p>
            </ul>
        </div>
        <div class="foo-column-i">
            <h4>Soporte</h4>
            <ul>
                <p><a href="#">Manual de Usuario</a></p>
                <p><a href="#">Guía</a></p>
                <p><a href="#">Sección de ayuda</a></p>
            </ul>
        </div>
    </div>
    <div class="footer-bottom">Todos los derechos reservados para ChambeaYa, Inc. © Chiclayo, Perú 2025</div>
</div>