<div class="header">
    <div class="width-m header-items">
        <div class="brand">
            <a class="logo" href="/">
                <img class="logo-corp" src="/static/brand/logo-chambeaya.svg" alt="logo">
                <span class="name-corp">ChambeaYa</span>
            </a>
        </div>
        <div class="center"></div>
        <div class="options">
            <div class="header-public">
                <a href="/acceder" class="btn-setaccount">Registrarse</a>
                <a href="/acceder?i" class="btn-setaccount">Iniciar sesión</a>
            </div>
        </div>
    </div>
</div>