<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <script src="/static/js/validar-sesion.js"></script>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="shortcut icon" href="/static/brand/favicon-chambeaya.png" type="image/png">
    <link rel="stylesheet" href="/static/css/inicio.css">
    <link rel="stylesheet" href="/static/css/Formulario_Consultas.css">
</head>

<body>
    <div class="app">
        <div class="header"></div>

        <div class="footer"></div>
    </div>
    <div class="js">
        <script src="/static/js/main.js"></script>
        <script src="/static/js/inicio.js"></script>
    </div>

</body>

</html>